---
---
body {
    background: url('/assets/img/background.gif') no-repeat center center fixed;
    background-size: cover;
}
<<<<<<< HEAD
.text-container {
    position: relative;
    background: rgba(255, 255, 255, 0.6); /* 半透明白色背景 */
    backdrop-filter: blur(10px); /* 背景虚化 */
    padding: 20px;
    border-radius: 10px; /* 圆角效果 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    max-width: 600px;
    margin: 0 auto;
}
=======

>>>>>>> 862f923fdc36ff418229f403dcd068e762a36603
$base-font-family: 'Roboto', sans-serif;
$body-font-family: 'Roboto', sans-serif;
$code-font-family: "Source Code Pro", monospace;

$brand-color: black;

$container-width: 1100px;
$tablet-width: 600px;
$phone-width: 480px;

$header-thickness: 56px;

$icon-transition-time: 1.0s;
$envelope-color: #f39c12;
$twitter-color: #00aced;
$instagram-color: #375989;
$github-color: #343434;
$linkedin-color: #0073a4;
$facebook-color: #3d5b99;
$google-color: #e64a41;
$pinterest-color: #bd081c;
$medium-color: #00AB6C;
$codepen-color: black;
$rss-color: #ff6600;

@import "-sections-dir";
